* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

/* App */
.App {
  min-height: 100vh;
  background: #ffd6e0;
  display: flex;
  flex-direction: column;
  width:100vw;
}

/* Navbar */
.navbar {
  height: 60px;
  background: white;
  display: flex;
  align-items: center;
  padding: 0 24px;
}

.logo {
  font-size: 20px;
  font-weight: 700;
  color: #ff4f8b;
}

/* Main Layout */
.container {
  flex: 1;
  display: flex;
  width:100%;
  max-width: 100%;
  gap: 24px;
  padding: 24px;
}

/* Left Column */
.left-column {
  width: 280px;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  gap: 20px;
}

/* Right Column */
.right-column {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}


.lipliner,.lipgloss{
  background-color: white;
  border-radius: 16px;
  padding: 16px;
  min-height: 200px;
  display: flex;
}

.lipliner h3,.lipgloss h3{
  margin-bottom: 12px;
  color: #ff4f8b;
}

/* Result Card */
.result-card {
  width: 360px;
  height: 460px;
  background: white;
  border-radius: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Lip Preview */
.lip-preview {
  position: relative;
  width: 260px;
  height: 260px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Lipliner Ring */
.lipliner-ring {
  position: absolute;
  inset: 0;
  border-radius: 50%;
  border: 14px solid pink;
}

/* Lipgloss Fill */
.lipgloss-fill {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background: rgba(255, 105, 180, 0.85);
}
