*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}

html,body,#root{
  height: 100%;
  width: 100%;

}

.App{
  background-color: pink;
  min-height: 100vh;
  display:flex;
  height: 100vh;
}

.navbar{
  background-color:  rgb(255, 255, 255);
  height: 60px;
  width: 100%;
  padding: 0 20px;
}

.logo{
  height: 20px;
  margin: 10px;
  color: pink;
}

.container{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: 20px;
  padding: 20px; 
  height: 300px;
  width: 340px;
}

.left-column{
  display: flex;
  flex-direction: column;
  gap: 20px;
  height: 280px;
  width: 320px;
}

.right-column{
  display: flex;
  flex-direction: column;
  gap: 20px;
  height: 280px;
  width: 320px;
}

.lipline,.lipgloss{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: snow;

}

.result{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: snow;
  height: 250px;
  width: 300px;
}

